#tips-contribution {
  font-size: 20px;

  // Thank you to : https://stackoverflow.com/questions/10405945/
  ol {
    counter-reset: item;
  }

  li {
    display: block;
  }

  li:before {
    content: counters(item, ".") ". ";
    counter-increment: item;
  }
}
