.home-title {
  font-size: $home-title-font-size;
  margin-bottom: 50px;
}

.home-buttons {
  @include margin-horizontal(120px);
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 0px;
}

.tile {
  background: $dark-purple;
  // padding: 9em 2em;
  @include margin-horizontal(25px);
  @include margin-vertical(25px);
  border-radius: $big-border-radius;
  border: solid 3px $dark-purple;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 31vh;

  text-decoration: none;
  font-size: 1.25em;
  > * {
    color: $light-purple;
  }

  // a,
  // a:visited {
  //   color: $light-purple;
  // }

  h2 {
    font-weight: normal;
    font-size: 1.875rem;
  }

  span {
    display: block;
    max-width: 20ch;
    text-align: center;
  }

  &:hover {
    background-color: $accent-background;
    transition: 0.5s;
    > * {
      color: $h-color;
    }
  }
}

@media (max-width: $breakpoint-large) {
  .home-title {
    font-size: $home-title-font-size-l;
  }

  .home-buttons {
    @include margin-horizontal(0px);
  }
}

@media (max-width: $breakpoint-medium) {
  .home-title {
    font-size: $home-title-font-size-m;
  }

  .home-buttons {
    grid-template-columns: none;
  }

  .home-title {
    margin-bottom: 40px;
  }

  .tile {
    @include margin-vertical(15px);
    min-height: 150px;
    * {
      font-size: 18px !important;
    }
  }
}
