// Padding

.padding-large {
  padding: $large-gutter;
}
.padding-medium {
  padding: $medium-gutter;
}
.padding-small {
  padding: $small-gutter;
}

.padding-medium-top {
  padding-top: $medium-gutter;
}
.padding-small-top {
  padding-top: $small-gutter;
}
.padding-large-top {
  padding-top: $large-gutter;
}

// Margin

.margin-auto {
  margin: auto;
}
.margin-none {
  margin: 0px;
}
.margin-small {
  margin: $small-gutter;
}

.margin-xlarge-top {
  margin-top: $xlarge-gutter;
}
.margin-large-top {
  margin-top: $large-gutter;
}
.margin-medium-top {
  margin-top: $medium-gutter;
}
.margin-small-top {
  margin-top: $small-gutter;
}

.margin-medium-right {
  margin-right: $medium-gutter;
}
.margin-small-right {
  margin-right: $small-gutter;
}

.margin-small-left {
  margin-left: $small-gutter;
}

.margin-large-x {
  @include margin-vertical($large-gutter);
}

.child-margin-vertical-medium {
  > * {
    @include margin-vertical($medium-gutter);
  }
}

.child-margin-vertical-small {
  > * {
    @include margin-vertical($small-gutter);
  }
}

.child-margin-horizontal-medium {
  > * {
    @include margin-horizontal($medium-gutter);
  }
}

.child-margin-horizontal-small {
  > * {
    @include margin-horizontal($small-gutter);
  }
}

// Border

.border {
  border: 1px solid $h-color;
}

.border-radius {
  @extend .border;
  border-radius: $border-radius;
}

// Width

.width-1-2 {
  width: 50%;
}

.width-1-3 {
  width: 33%;
}

.width-2-3 {
  width: 66%;
}

.width-1-4 {
  width: 25%;
}

.width-1-5 {
  width: 20%;
}

.width-3-4 {
  width: 75%;
}

@media (max-width: $breakpoint-medium) {
  .width-1-2 {
    width: 100%;
  }
  .width-1-3 {
    width: 100%;
  }
  .width-2-3 {
    width: 100%;
  }
  .width-3-4 {
    width: 100%;
  }
}

.child-width-1-3 {
  > * {
    @extend .width-1-3;
  }
}

// Text

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: $large-font-size;
}

.text-small {
  font-size: $small-font-size;
}

.text-secondary {
  color: $input-border;
}

.text-primary {
  color: $button-background;
}

.text-justify {
  text-align: justify;
}

.text-decoration-none {
  text-decoration: none;
}

.text-italic {
  font-style: italic;
}

// Height
.height-medium {
  max-height: 17vh !important;
  min-height: 17vh !important;
}

// Overflow
.overflow-hidden {
  overflow: hidden;
}

// Visible

.visible\@m {
  display: none;
}

.visible\@l {
  display: none;
}

.visible\@s {
  display: none;
}

@media (max-width: $breakpoint-large) {
  .visible\@l {
    display: block;
  }
}

@media (max-width: $breakpoint-medium) {
  .visible\@m {
    display: block;
  }
}

@media (max-width: $breakpoint-small) {
  .visible\@s {
    display: block;
  }
}
