.chevron {
  &-up {
    flex: 0 0 10%;
    @include icon(url("/images/icons/chevron-up.svg"), 3rem, center);
    filter: $filter-dark-purple;
  }
  &-down {
    flex: 0 0 10%;
    @include icon(url("/images/icons/chevron-down.svg"), 3rem, center);
    filter: $filter-dark-purple;
  }
}

.accordion {
  overflow: hidden;
  transition: height 500ms;
}
.toggle-element {
  cursor: pointer;
}
