#filters-form {
    // border-radius: $border-radius;
    border: 1px solid $project-pres-border;
    border-top: none;
    top: 0px;
    position: sticky;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.filters-content {
    overflow-y: scroll;
    overflow: overlay !important;
}

.filters-button {
    text-align: right;
    input {
        background-color: $blue;
        color: $white;
        padding: 8px;
        margin-right: 22px;
        margin-bottom: 16px;
        border: none;
        border-radius: $border-radius;
        cursor: pointer;
    }
}

.filter {
    border-top: 1px solid $project-pres-border;
    @extend .columns, .flex-space-between;
    //border-bottom: 1px solid $project-pres-border;
}

.filter-loader {
    background-image: url("/images/loader.svg");
    background-repeat: no-repeat;
    background-position: center;
    filter: invert(11%) sepia(37%) saturate(3788%) hue-rotate(238deg) brightness(82%) contrast(124%);
    height: 50px;
}

.filter-tag {
    @extend .tag;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 10pt;
    display: table;
    > * {
        display: table-cell;
        vertical-align: middle;
    }
}

.filters > {
    .opened {
        @extend .inverse;

        .label {
            color: $white !important;
        }

        .chevron {
            filter: invert(92%) sepia(94%) saturate(27%) hue-rotate(250deg) brightness(106%) contrast(100%);
        }
    }
}

.accordion {
    .chevron {
        margin-right: 20px;
    }
}

.filters-tags {
    display: flex;
    flex-wrap: wrap;
}

.filters-header {
    > h2 {
        padding-left: 27px;
        font-weight: bold;
        margin: 0px;
        padding: 1rem;
    }
    border-bottom: 1px solid $project-pres-border;
}

input.filter-checkbox + label {
    margin-top: 10px;
    width: 100%;
    margin-left: 15px;
}

#filter-toggle-button {
    position: fixed;
    bottom: 1%;
    background-color: $white;
    color: $dark-purple;
    > i {
        filter: invert(7%) sepia(57%) saturate(4245%) hue-rotate(248deg) brightness(88%) contrast(118%);
    }
    border-radius: 100px;
    padding: 12px;
    padding-left: 18px;
    padding-right: 18px;
    display: none;
    font-weight: normal;
    left: 50%;
    cursor: pointer;
    transform: translateX(-50%);
}

.filter-close {
    @extend .close;
    vertical-align: middle;
    display: inline-block;
    width: 25px;
    filter: invert(100%) sepia(43%) saturate(2%) hue-rotate(220deg) brightness(105%) contrast(101%);
}

.filters-footer {
    padding: $medium-gutter;
    // text-align: right;
    display: none;
}

@media (max-width: $breakpoint-medium) {
    #filters-form {
        background-color: $h-color;
        position: fixed;
        z-index: 1000;
        top: 0%;
        left: 0;
        right: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        transition: top 1s;
    }

    .filters-content {
        overflow-y: scroll;
        background-color: $white;
    }

    .filters-footer {
        display: block;
        padding: $small-gutter;
        border-top: solid 1px $dark-purple;
        margin-bottom: $large-gutter;
    }

    #filter-toggle-button {
        display: block;
        width: max-content;
    }

    .filters-tags {
        display: flex;
        align-content: center;
        padding-bottom: $small-gutter;
        padding-top: $small-gutter;
        padding-left: $small-gutter;
    }

    .filter-tag {
        border-color: $white;
        color: $white;
        > i {
            filter: invert(100%) sepia(43%) saturate(2%) hue-rotate(220deg) brightness(105%) contrast(101%);
        }
    }

    .filters-header {
        > h2 {
            background-color: $h-color;
            text-align: center;
            color: $white;
            margin: 0;
            padding-top: $small-gutter;
            padding-left: 0px;
            padding-bottom: $small-gutter;
        }

        > .filters-tags {
            display: none;
        }
    }
}
