.big-footer {
  @extend .columns, .flex-space-between;
  align-items: center;
  padding: 16px;
  font-weight: normal;
  background-color: $footer-background;
  padding-right: 50px;
  padding-left: 50px;

  .links-footer {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .fontawesome {
    height: 30px;
    width: 24px;
    filter: $filter-dark-purple;
    margin-left: 16px;

    &.fontawesome-rss {
      @include icon(url("/images/icons/fontawesome/solid/rss.svg"), 100%, center);
    }

    &.fontawesome-twitter {
      @include icon(url("/images/icons/fontawesome/brands/twitter.svg"), 100%, center);
    }

    &.fontawesome-mastodon {
      @include icon(url("/images/icons/fontawesome/brands/mastodon.svg"), 100%, center);
    }

    &.fontawesome-at {
      @include icon(url("/images/icons/fontawesome/solid/at.svg"), 100%, center);
    }
  }
}

@media (max-width: $breakpoint-large) {
  .big-footer {
    padding-right: 28px;
    padding-left: 28px;
    flex-direction: column;
    font-size: $small-font-size;
    & > * {
      text-align: center;
      flex: max-content;
    }

    .links-footer {
      justify-content: center;
      margin-bottom: 8px;
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .links-footer {
    flex-direction: column;
  }
}
