.links {
  display: flex;
  margin-right: 34px;

  a {
    display: inline-block;
    padding: 0 16px;
    font-size: 14pt;
    text-decoration: none;
    line-height: 107px;

    &:hover,
    &.active-link {
      background-color: $link-hover-color;
      transition: 0.5s;
    }
}

.home-link {
    a {
        text-decoration: none;
        font-size: 14pt;
    }
    h1 {
        margin: 0;
        font-size: 18pt;
        line-height: 0.75em;
    }
}

.logo {
    padding: 1rem;
}

@media (max-width: $breakpoint-medium) {
    .links {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s linear;
        top: 30px;
        right: 0px;
        margin-right: 8px;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        position: absolute;
        background-color: $white;
        height: 100px;
        border-radius: $big-border-radius;
        box-shadow: 0px 2px 4px rgba($black, 0.25);
        a {
            line-height: 0px;
        }
    }
    .logo {
        padding-left: 0.25rem;
    }
    .big-header {
        img {
            width: 60px;
            height: 60px;
            margin-right: 0.25rem;
        }
        .menu {
            display: flex;
            align-items: center;
            margin-right: 15px;
            .burger-menu {
                cursor: pointer;
                height: 30px;
                width: 30px;
                filter: $filter-dark-purple;
                @include icon(url("/images/icons/menu.svg"),
                30px,
                center);
            }
        }
    }
}
