@charset "UTF-8";

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 200;
  src: url(/fonts/rubik-light.woff2?6515f0452e7f6f166262a3ef44e5fe99) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/rubik-regular.woff2?63c5b6176f60881d53dd2dc10904a04c) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-weight: medium;
  src: url(/fonts/rubik-medium.woff2?c205b390643caf5b3d8d6d6488d84bc2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: "Rubik";
  font-weight: bold;
  src: url(/fonts/rubik-bold.woff2?eb74985e94f82f81fb0e74d59a7e759e) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  background-color: #ffffff;
  color: #0a003f;
  font-family: "Rubik", sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

* {
  scrollbar-color: #0a003f transparent;
}

*::-webkit-scrollbar {
  border-radius: 20px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #0a003f;
  border-radius: 20px;
}

body {
  display: flex;
  flex-direction: column;
  overflow: overlay;
}

main {
  flex-grow: 1;
}

a,
a:visited {
  color: #0a003f;
}

em {
  font-weight: bold;
}

h1 {
  font-weight: 400;
  color: #0a003f;
  font-size: 30px;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  color: #0a003f;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.big-header {
  border-bottom: 1px solid #222222;
}

.big-header .logo {
  text-decoration: none;
}

.big-footer {
  padding: 12px;
  font-weight: normal;
  background-color: #fcb4b7;
}

#content {
  min-height: 60vh;
  margin: 1em auto;
  width: 72%;
  padding: 1.5rem;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  background: #f1efff;
  margin: 1em;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-decoration: none;
  font-size: 1.25em;
}

.tile h2 {
  font-weight: normal;
}

.tile span {
  display: block;
  max-width: 20ch;
  text-align: center;
}

.columns,
.filter,
.project-actions,
.big-footer {
  display: flex;
}

.columns.flex-space-between,
.filter,
.flex-space-between.project-actions,
.big-footer {
  justify-content: space-between;
}

.columns.flex-space-around,
.flex-space-around.filter,
.flex-space-around.project-actions,
.flex-space-around.big-footer {
  justify-content: space-around;
}

.columns.flex-left,
.flex-left.filter,
.flex-left.project-actions,
.flex-left.big-footer {
  justify-content: start;
}

.columns.flex-column,
.flex-column.filter,
.flex-column.project-actions,
.flex-column.big-footer {
  flex-direction: column;
}

.columns.flex-middle,
.flex-middle.filter,
.flex-middle.project-actions,
.flex-middle.big-footer {
  text-align: center;
  justify-content: center;
  align-content: center;
}

.columns.flex-items-center,
.flex-items-center.filter,
.project-actions,
.flex-items-center.big-footer {
  align-items: center;
}

.columns.flex-wrap,
.flex-wrap.filter,
.project-actions,
.big-footer {
  flex-wrap: wrap;
}

.columns .column,
.filter .column,
.project-actions .column,
.big-footer .column {
  flex: auto;
}

.columns .column.text-right,
.filter .column.text-right,
.project-actions .column.text-right,
.big-footer .column.text-right {
  flex: 0;
}

.columns .flex-max,
.filter .flex-max,
.project-actions .flex-max,
.big-footer .flex-max {
  flex: max-content;
}

.card > .card-footer,
.slider-content > .card-footer {
  padding: 1.2rem;
}

.card > .card-header,
.slider-content > .card-header,
.card > .card-body,
.slider-content > .card-body {
  padding-top: 0.938rem;
  padding-bottom: 0.938rem;
  padding-left: 1.4rem;
}

.inverse,
.filters > .opened {
  background-color: #0a003f !important;
  color: #ffffff !important;
  font-weight: normal;
  text-decoration: none;
}

.inverse a,
.filters > .opened a {
  color: #ffffff !important;
}

.category,
.tag,
.filter-tag {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: normal;
  margin-right: 0.5rem;
  color: #0a003f;
  margin: 8px;
}

.tag,
.filter-tag {
  border-radius: 100px !important;
}

.links {
  display: flex;
  height: 100%;
  align-items: center;
}

.links a {
  padding: 0 25px;
  font-size: 14pt;
  text-decoration: none;
}

.home-link a {
  text-decoration: none;
  font-size: 14pt;
}

.home-link h1 {
  margin: 0;
  font-size: 18pt;
  line-height: 0.75em;
}

.arrow-right {
  width: 1.3rem;
  height: 0.75rem;
  display: inline-block;
  background-image: url("/images/icons/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 2rem;
}

h1 {
  font-weight: 400;
  font-size: 30px;
  color: #0a003f;
}

h2 {
  font-weight: 300;
  font-size: 20px;
  color: #0a003f;
}

.icon-danger::before,
.button-danger::before {
  content: url("/images/icons/alert-triangle.svg");
  fill: none;
  color: #ffffff !important;
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

.button-danger {
  background-color: #da3d1d !important;
}

.background-accent {
  background-color: #f1efff !important;
}

.background-default,
.slider-content {
  background-color: #ffffff !important;
}

#about {
  font-size: 20px;
}

#show p {
  font-weight: 300;
  font-size: 18px;
  color: #0a003f;
}

#content-nav {
  flex: 1 0 28%;
}

.close,
.filter-close {
  content: url("/images/icons/x.svg");
  width: 20px;
  cursor: pointer;
}

#main-section {
  display: flex;
}

@media (max-width: 1200px) {
  #content {
    width: 90%;
  }
}

@media (max-width: 960px) {
  main > header {
    font-size: 0.85rem;
  }

  #content {
    margin-top: 30px;
  }

  .big-footer > * {
    text-align: center;
    flex: max-content;
  }

  .project-actions > * {
    text-align: center;
    margin-bottom: 40px;
  }

  #main-section {
    display: block;
  }
}

.padding-large {
  padding: 70px;
}

.padding-medium {
  padding: 40px;
}

.padding-small,
.button-danger {
  padding: 15px;
}

.padding-medium-top {
  padding-top: 40px;
}

.padding-small-top {
  padding-top: 15px;
}

.padding-large-top {
  padding-top: 70px;
}

.margin-auto {
  margin: auto;
}

.margin-none {
  margin: 0px;
}

.margin-small,
.big-footer > * {
  margin: 15px;
}

.margin-xlarge-top,
.project-actions {
  margin-top: 140px;
}

.margin-large-top {
  margin-top: 70px;
}

.margin-medium-top {
  margin-top: 40px;
}

.margin-small-top {
  margin-top: 15px;
}

.margin-medium-right,
.slider-content {
  margin-right: 40px;
}

.margin-small-right {
  margin-right: 15px;
}

.margin-small-left {
  margin-left: 15px;
}

.margin-large-x {
  margin-bottom: 70px;
  margin-top: 70px;
}

.child-margin-vertical-medium > * {
  margin-bottom: 40px;
  margin-top: 40px;
}

.child-margin-vertical-small > * {
  margin-bottom: 15px;
  margin-top: 15px;
}

.child-margin-horizontal-medium > * {
  margin-left: 40px;
  margin-right: 40px;
}

.child-margin-horizontal-small > * {
  margin-left: 15px;
  margin-right: 15px;
}

.border,
.border-radius,
.card.card-radius,
.card.slider-content,
.card-radius.slider-content,
.slider-content,
.card,
.category,
.tag,
.filter-tag {
  border: 1px solid #0a003f;
}

.border-radius,
.card.card-radius,
.card.slider-content,
.card-radius.slider-content,
.slider-content,
.category,
.tag,
.filter-tag {
  border-radius: 4px;
}

.width-1-2 {
  width: 50%;
}

.width-1-3,
.child-width-1-3 > * {
  width: 33%;
}

.width-2-3 {
  width: 66%;
}

.width-1-4 {
  width: 25%;
}

.width-1-5 {
  width: 20%;
}

.width-3-4 {
  width: 75%;
}

@media (max-width: 960px) {
  .width-1-2 {
    width: 100%;
  }

  .width-1-3,
  .child-width-1-3 > * {
    width: 100%;
  }

  .width-2-3 {
    width: 100%;
  }

  .width-3-4 {
    width: 100%;
  }
}

.text-normal {
  font-weight: normal;
}

.text-bold {
  font-weight: bold;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-large {
  font-size: 1.5rem;
}

.text-small {
  font-size: 0.875rem;
}

.text-secondary {
  color: #0a003f;
}

.text-primary {
  color: #2e63ea;
}

.text-justify {
  text-align: justify;
}

.text-decoration-none {
  text-decoration: none;
}

.text-italic {
  font-style: italic;
}

.height-medium {
  max-height: 17vh !important;
  min-height: 17vh !important;
}

.overflow-hidden {
  overflow: hidden;
}

.visible\@m {
  display: none;
}

.visible\@l {
  display: none;
}

.visible\@s {
  display: none;
}

@media (max-width: 1200px) {
  .visible\@l {
    display: block;
  }
}

@media (max-width: 960px) {
  .visible\@m {
    display: block;
  }
}

@media (max-width: 640px) {
  .visible\@s {
    display: block;
  }
}

#form-project *:not(.input-error) > .message-error {
  display: none;
}

#form-project > .input-error .message-error,
#form-project * .input-error .message-error {
  display: block;
  color: #da3d1d;
}

#form-project > .input-error input,
#form-project > .input-error textarea,
#form-project > .input-error input.checkbox + label::before,
#form-project * .input-error input,
#form-project * .input-error textarea,
#form-project * .input-error input.checkbox + label::before {
  border: 1px solid #da3d1d;
}

#form-project .accordion + .input-error {
  border: 1px solid #da3d1d;
}

#form-project .accordion + .input-error .delimiter {
  filter: invert(27%) sepia(79%) saturate(1450%) hue-rotate(344deg) brightness(104%) contrast(103%);
}

input[type=text],
input[type=email],
input[type=url],
textarea,
.choose {
  border: 1px solid #0a003f;
  border-radius: 4px;
}

.choose {
  width: 62.5%;
}

input[type=text],
input[type=email],
input[type=url],
textarea {
  width: 48%;
  padding-left: 16px;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #0a003f;
}

.is-combo {
  width: 63% !important;
}

.co {
  margin-right: 23px;
}

textarea {
  height: 300px;
  padding-top: 17px;
}

.label {
  font-size: 18px;
  font-weight: 500;
  color: #0a003f;
  text-align: left;
}

.sublabel {
  font-size: 14px;
  font-weight: 300;
  color: #0a003f;
  text-align: left;
  display: block;
  margin-bottom: 9px;
}

input[type=text],
input[type=email],
input[type=url] {
  height: 60px;
}

.button-primary,
.button-danger {
  background: #2e63ea;
  border: none;
  color: white;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  padding: 12px 20px;
}

.button-primary:hover,
.button-danger:hover {
  background-color: rgba(46, 99, 234, 0.8);
  transition: 0.5s;
  cursor: pointer;
}

.button-circle {
  border: 1px solid #0a003f;
  background-color: #ffffff;
  border-radius: 40px;
  width: 40px;
  height: 40px;
  line-height: 50%;
  font-size: 36px;
}

.is-small {
  font-size: 20px;
}

.is-medium {
  font-size: 30px;
}

.is-big {
  font-size: 40px;
}

.button-outline {
  border: 1px solid #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.button-secondary {
  background-color: #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: white;
  border: none;
}

.button-radius {
  border-radius: 20px;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.link {
  text-decoration: underline;
  color: #2e63ea;
  font-weight: 600;
}

.link:hover {
  color: rgba(46, 99, 234, 0.8);
  transition: 0.5s;
  cursor: pointer;
  -webkit-text-decoration: dashed underline;
          text-decoration: dashed underline;
}

.checkbox-label {
  padding-right: 50px;
}

input.checkbox + label::before {
  content: "";
  border: 1px solid #0a003f;
  border-radius: 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  cursor: pointer;
}

input.checkbox.is-mini + label::before {
  width: 24px;
  height: 24px;
}

input.checkbox.is-mini:checked + label::before {
  width: 24px;
  height: 24px;
}

input.checkbox:checked + label::before {
  content: "";
  border: 1px solid #0a003f;
  background-color: #0a003f;
  background-image: url("/images/icons/check.svg");
  background-position: 2 2;
  border-radius: 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.button-outline {
  border: 1px solid #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.button-secondary {
  background-color: #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: white;
  border: none;
}

.button-radius {
  border-radius: 20px;
}

input[type=checkbox],
input[type=radio] {
  display: none;
}

.arrow::before {
  content: url("/images/icons/arrow-right.svg");
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
}

::-moz-placeholder {
  color: #b8b7bc;
}

:-ms-input-placeholder {
  color: #b8b7bc;
}

::-ms-input-placeholder {
  color: #b8b7bc;
}

::placeholder {
  color: #b8b7bc;
}

input.cb + label {
  border: 1px solid #0a003f;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: #0a003f;
  border-radius: 20px;
  display: block;
  line-height: 33px;
  margin-bottom: 15px;
  margin-right: 15px;
}

input.cb + label:hover {
  background-color: rgba(10, 0, 63, 0.3);
  transition: 0.5s;
}

input.cb:checked + label {
  background-color: #0a003f;
  height: 33px;
  border-radius: 4px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
  color: white;
  border-radius: 20px;
  display: block;
}

@media (max-width: 1200px) {
  input[type=text],
  input[type=email],
  input[type=url],
  textarea {
    width: 70%;
  }

  .choose {
    width: 80%;
  }
}

@media (max-width: 960px) {
  input[type=text],
  input[type=email],
  input[type=url],
  textarea {
    width: 100%;
  }

  .choose {
    width: 100%;
  }
}

.big-footer {
  align-items: center;
  padding: 16px;
  font-weight: normal;
  background-color: #fcb4b7;
  padding-right: 50px;
  padding-left: 50px;
}

.big-footer .links-footer {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
}

.big-footer .fontawesome {
  height: 30px;
  width: 24px;
  -webkit-filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
          filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
  margin-left: 16px;
}

.big-footer .fontawesome.fontawesome-rss {
  display: inline-block;
  background-image: url("/images/icons/fontawesome/solid/rss.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.big-footer .fontawesome.fontawesome-twitter {
  display: inline-block;
  background-image: url("/images/icons/fontawesome/brands/twitter.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.big-footer .fontawesome.fontawesome-mastodon {
  display: inline-block;
  background-image: url("/images/icons/fontawesome/brands/mastodon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.big-footer .fontawesome.fontawesome-at {
  display: inline-block;
  background-image: url("/images/icons/fontawesome/solid/at.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

@media (max-width: 1200px) {
  .big-footer {
    padding-right: 28px;
    padding-left: 28px;
    flex-direction: column;
    font-size: 0.875rem;
  }

  .big-footer > * {
    text-align: center;
    flex: max-content;
  }

  .big-footer .links-footer {
    justify-content: center;
    margin-bottom: 8px;
  }
}

@media (max-width: 960px) {
  .links-footer {
    flex-direction: column;
  }
}

.project {
  width: 215px;
  height: 268px;
  border: 1px solid #0a003f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.delimiter {
  width: 100%;
  height: 1px;
  display: block;
  background-color: #0a003f;
}

.button-outline {
  color: #0a003f;
}

.label,
.sublabel {
  width: 90%;
}

.chevron-up {
  flex: 0 0 10%;
  display: inline-block;
  background-image: url("/images/icons/chevron-up.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  -webkit-filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
          filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
}

.chevron-down {
  flex: 0 0 10%;
  display: inline-block;
  background-image: url("/images/icons/chevron-down.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 3rem;
  -webkit-filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
          filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
}

.accordion {
  overflow: hidden;
  transition: height 500ms;
}

.toggle-element {
  cursor: pointer;
}

.slider {
  position: relative;
}

.slider-container {
  transition: transform 1s;
  transform: translate3d(0, 0, 0);
  display: flex;
  width: 100%;
}

.slider-container::after {
  content: "";
  clear: both;
  display: table;
}

.slider-item {
  float: left;
  flex: 1;
}

.slider-content {
  height: 100%;
  display: grid;
}

.slider-next,
.slider-prev {
  position: absolute;
  width: 33px;
  height: 33px;
  background-color: #0a003f;
  border-radius: 40px;
  top: -35%;
  left: 92%;
  cursor: pointer;
  transition: opacity 1s;
}

.slider-next > i,
.slider-prev > i {
  -webkit-filter: invert(100%) sepia(0%) saturate(85%) hue-rotate(61deg) brightness(117%) contrast(100%);
          filter: invert(100%) sepia(0%) saturate(85%) hue-rotate(61deg) brightness(117%) contrast(100%);
  display: inline-block;
  background-image: url("/images/icons/chevron-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  height: 100%;
  width: 100%;
}

.slider-next.slider-next-hidden,
.slider-next.slider-prev-hidden,
.slider-prev.slider-next-hidden,
.slider-prev.slider-prev-hidden {
  background-color: #0a003f !important;
  opacity: 0.6;
  cursor: default;
}

.slider-next.slider-next-hidden > i,
.slider-next.slider-prev-hidden > i,
.slider-prev.slider-next-hidden > i,
.slider-prev.slider-prev-hidden > i {
  -webkit-filter: invert(100%) sepia(0%) saturate(85%) hue-rotate(61deg) brightness(117%) contrast(100%) !important;
          filter: invert(100%) sepia(0%) saturate(85%) hue-rotate(61deg) brightness(117%) contrast(100%) !important;
}

.slider-next:hover,
.slider-prev:hover {
  background-color: #ffffff;
}

.slider-next:hover > i,
.slider-prev:hover > i {
  -webkit-filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
          filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
}

.slider-next {
  left: 95%;
}

.slider-next > i {
  display: inline-block;
  background-image: url("/images/icons/chevron-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
}

@media (max-width: 960px) {
  .slider-next,
  .slider-prev {
    display: none;
  }
}

.links {
  display: flex;
  margin-right: 34px;
}

.links a {
  display: inline-block;
  padding: 0 16px;
  font-size: 14pt;
  text-decoration: none;
  line-height: 107px;
}

.links a:hover,
.links a.active-link {
  background-color: #ff8c90;
  transition: 0.5s;
}

.home-link a {
  text-decoration: none;
  font-size: 14pt;
}

.home-link h1 {
  margin: 0;
  font-size: 18pt;
  line-height: 0.75em;
}

.logo {
  padding: 1rem;
}

@media (max-width: 960px) {
  .links {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s linear;
    top: 30px;
    right: 0px;
    margin-right: 8px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    background-color: #ffffff;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0px 2px 4px rgba(34, 34, 34, 0.25);
  }

  .links a {
    line-height: 0px;
  }

  .logo {
    padding-left: 0.25rem;
  }

  .big-header img {
    width: 60px;
    height: 60px;
    margin-right: 0.25rem;
  }

  .big-header .menu {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }

  .big-header .menu .burger-menu {
    cursor: pointer;
    height: 30px;
    width: 30px;
    -webkit-filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
            filter: invert(9%) sepia(26%) saturate(6646%) hue-rotate(242deg) brightness(88%) contrast(121%);
    display: inline-block;
    background-image: url("/images/icons/menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
  }
}

.home-title {
  font-size: 36px;
  margin-bottom: 50px;
}

.home-buttons {
  margin-left: 120px;
  margin-right: 120px;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 0px;
}

.tile {
  background: #0a003f;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 20px;
  border: solid 3px #0a003f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 31vh;
  text-decoration: none;
  font-size: 1.25em;
}

.tile > * {
  color: #f1efff;
}

.tile h2 {
  font-weight: normal;
  font-size: 1.875rem;
}

.tile span {
  display: block;
  max-width: 20ch;
  text-align: center;
}

.tile:hover {
  background-color: #f1efff;
  transition: 0.5s;
}

.tile:hover > * {
  color: #0a003f;
}

@media (max-width: 1200px) {
  .home-title {
    font-size: 30px;
  }

  .home-buttons {
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media (max-width: 960px) {
  .home-title {
    font-size: 24px;
  }

  .home-buttons {
    grid-template-columns: none;
  }

  .home-title {
    margin-bottom: 40px;
  }

  .tile {
    margin-bottom: 15px;
    margin-top: 15px;
    min-height: 150px;
  }

  .tile * {
    font-size: 18px !important;
  }
}

#tips-contribution {
  font-size: 20px;
}

#tips-contribution ol {
  counter-reset: item;
}

#tips-contribution li {
  display: block;
}

#tips-contribution li:before {
  content: counters(item, ".") ".\A0";
  counter-increment: item;
}

#filters-form {
  border: 1px solid #0a003f;
  border-top: none;
  top: 0px;
  position: -webkit-sticky;
  position: sticky;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.filters-content {
  overflow-y: scroll;
  overflow: overlay !important;
}

.filters-button {
  text-align: right;
}

.filters-button input {
  background-color: #2e63ea;
  color: #ffffff;
  padding: 8px;
  margin-right: 22px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.filter {
  border-top: 1px solid #0a003f;
}

.filter-loader {
  background-image: url("/images/loader.svg");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-filter: invert(11%) sepia(37%) saturate(3788%) hue-rotate(238deg) brightness(82%) contrast(124%);
          filter: invert(11%) sepia(37%) saturate(3788%) hue-rotate(238deg) brightness(82%) contrast(124%);
  height: 50px;
}

.filter-tag {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 10pt;
  display: table;
}

.filter-tag > * {
  display: table-cell;
  vertical-align: middle;
}

.filters > .opened .label {
  color: #ffffff !important;
}

.filters > .opened .chevron {
  -webkit-filter: invert(92%) sepia(94%) saturate(27%) hue-rotate(250deg) brightness(106%) contrast(100%);
          filter: invert(92%) sepia(94%) saturate(27%) hue-rotate(250deg) brightness(106%) contrast(100%);
}

.accordion .chevron {
  margin-right: 20px;
}

.filters-tags {
  display: flex;
  flex-wrap: wrap;
}

.filters-header {
  border-bottom: 1px solid #0a003f;
}

.filters-header > h2 {
  padding-left: 27px;
  font-weight: bold;
  margin: 0px;
  padding: 1rem;
}

input.filter-checkbox + label {
  margin-top: 10px;
  width: 100%;
  margin-left: 15px;
}

#filter-toggle-button {
  position: fixed;
  bottom: 1%;
  background-color: #ffffff;
  color: #0a003f;
  border-radius: 100px;
  padding: 12px;
  padding-left: 18px;
  padding-right: 18px;
  display: none;
  font-weight: normal;
  left: 50%;
  cursor: pointer;
  transform: translateX(-50%);
}

#filter-toggle-button > i {
  -webkit-filter: invert(7%) sepia(57%) saturate(4245%) hue-rotate(248deg) brightness(88%) contrast(118%);
          filter: invert(7%) sepia(57%) saturate(4245%) hue-rotate(248deg) brightness(88%) contrast(118%);
}

.filter-close {
  vertical-align: middle;
  display: inline-block;
  width: 25px;
  -webkit-filter: invert(100%) sepia(43%) saturate(2%) hue-rotate(220deg) brightness(105%) contrast(101%);
          filter: invert(100%) sepia(43%) saturate(2%) hue-rotate(220deg) brightness(105%) contrast(101%);
}

.filters-footer {
  padding: 40px;
  display: none;
}

@media (max-width: 960px) {
  #filters-form {
    background-color: #0a003f;
    position: fixed;
    z-index: 1000;
    top: 0%;
    left: 0;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: top 1s;
  }

  .filters-content {
    overflow-y: scroll;
    background-color: #ffffff;
  }

  .filters-footer {
    display: block;
    padding: 15px;
    border-top: solid 1px #0a003f;
    margin-bottom: 70px;
  }

  #filter-toggle-button {
    display: block;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .filters-tags {
    display: flex;
    align-content: center;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
  }

  .filter-tag {
    border-color: #ffffff;
    color: #ffffff;
  }

  .filter-tag > i {
    -webkit-filter: invert(100%) sepia(43%) saturate(2%) hue-rotate(220deg) brightness(105%) contrast(101%);
            filter: invert(100%) sepia(43%) saturate(2%) hue-rotate(220deg) brightness(105%) contrast(101%);
  }

  .filters-header > h2 {
    background-color: #0a003f;
    text-align: center;
    color: #ffffff;
    margin: 0;
    padding-top: 15px;
    padding-left: 0px;
    padding-bottom: 15px;
  }

  .filters-header > .filters-tags {
    display: none;
  }
}

